html{
    background-color:cadetblue;
    font-family: sans-serif;
}

body{
   
}

#index_body{
    background-color: whitesmoke;
    width: 50%;
}

#index_card{
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    size: 100%;
    background-color: whitesmoke;
    border-radius: 10%;
    box-shadow: rgba(0,0,0,0.3) 0 0 30px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 10px;
}

#exp{
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 40px;
}

#exp:hover{
    background-color: #000097;
    border-color: #000097;
}

#headshot{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    grid-row: 2;
    display: block;
    margin: auto;
    grid-column: 2;
    border-style: solid;
    border-width: 2.5px;
    box-shadow: rgba(0,0,0,0.4) 0 0 30px;
}

#about{
    grid-row: 3;
    grid-column: 2;
    margin-top: 40px;
}

#about:hover{
    background-color: #007700;
    border-color: #007700;
}

#email{
    grid-column: 2;
    grid-row: 2;
    margin-right: 400px;
    left: 50px;
    top: 25px;
}

#github{
    grid-column: 2;
    grid-row: 2;
    margin-left: 400px;
    right: 50px;
    top: 15px;
}

#github_img{
    border-radius: 50%;
}

.link_img{
    width: 50px;
    box-shadow: rgba(0,0,0,0.2) 0 0 15px;
}

.link_img:hover{
    box-shadow: rgba(0,0,0,0.7) 0 0 15px;
    transition: 0.2s;
}

.text_link {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    font-size: larger;
    box-shadow: rgba(0,0,0,0.2) 0 0 15px;
    color: whitesmoke;
}

.text_link:hover{
    box-shadow: rgba(0,0,0,0.6) 0 0 15px;
    transition: 0.2s;
}

.index_link{
    display: block;
    margin: auto;
    width: 100px;  
}

.index_link:hover{
    transition: 0.4s;
}

.off_site_link{
    margin-top: 35px;
    position: relative;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

nav{
    width: 50%;
    left: 0;
    bottom: 0;
    position: fixed;
    width: auto;
}

#navlist{
    list-style: none;
}

#navlist li{
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 35px;
    text-align: center;
}

#navhome{
    font-size: large;
    background-color: black;
    border-color: black;
}

#bio{
    position: absolute;
    width: 60%;
    right: 0;
    margin-right: 50px;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0,0,0,0.4) 0 0 15px;
    color: rgb(59, 59, 59);
}

#bio p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
}

#intro{
    display: flex;
}

#hi{
    margin-right: 10px;
    font-size: 90px;
    margin-bottom: 0px;
    margin-top: 0;
    text-align: left;
}

#intro p{
    margin-bottom: 0;
    height: 50%;
}
  